[defaults]
roles_path = ./roles
inventory = ./inventory.yml
host_key_checking = True
forks = 5
callback_result_format = yaml
stdout_callback = yaml
nocows = 1
retry_files_enabled = False
display_skipped_hosts = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
